<%= form_for(resource, as: resource_name, url: password_path(resource_name), html:{ method: :post, class: 'form-signin' }) do |f| %>
  <h2 class='form-signin-heading'><%= t('devise.views.passwords.forgot_password') %></h2>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('activerecord.attributes.user.email') %>
  </div>

  <div class='form-group'><%= f.submit t('devise.views.passwords.send_reset_instructions'), class: "btn btn-default " %></div>

  <%= render "devise/shared/links" %>
<% end %>
