<h1><%= Setting.model_name.human(count: 2) %></h1>

<p>
  <strong><%= t('activerecord.attributes.setting.cost_per_thousand_points') %>:</strong>
  <%= number_to_currency @setting.cost_per_thousand_points %>
</p>

<div class="panel-footer">
  <%= link_to t('helpers.links.edit'), edit_setting_path(@setting), class: "btn btn-primary" %>
</div><!-- .panel-footer -->
<%= link_to t('helpers.links.back'), :back, class: "btn btn-link" %>