<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1><%= t('helpers.actions.listing_model', model: Patch.model_name.human(count: 2)) %> <small>(<%= page_entries_info @patches %>)</small><%= link_to t('helpers.actions.new_model', model: Patch.model_name.human), new_patch_path, class: "btn btn-link" %></h1>
  </div><!-- .col-lg-6 -->
  <div class="col-xs-12 col-md-4">
    <%= render "search" %>
  </div><!-- .col-lg-6 -->
</div><!-- .row -->

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th><%= sort_link @q, :code, t('activerecord.attributes.patch.code') %></th>
      <th><%= sort_link @q, :name, t('activerecord.attributes.patch.name') %></th>
      <th><%= sort_link @q, :dots_count, t('activerecord.attributes.patch.dots_count') %></th>
      <th><%= sort_link @q, :colors_count, t('activerecord.attributes.patch.colors_count') %></th>
      <th><%= sort_link @q, :size, t('activerecord.attributes.patch.size') %></th>
      <th><%= sort_link @q, :cost, t('activerecord.attributes.patch.cost') %></th>
      <th><%= sort_link @q, :in_stock, t('activerecord.attributes.patch.in_stock') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patches.each do |patch| %>
    <tr class="clickable-row" data-link=<%= patch_url(patch) %>>
      <td><%= image_tag patch.image ? patch.image.picture.url(:thumb) : "http://placehold.it/70x70&text=#{Patch.model_name.human}"%></td>
      <td><%= patch.in_stock %></td>
      <td><%= patch.code %></td>
      <td><%= patch.name %></td>
      <td><%= patch.dots_count %></td>
      <td><%= patch.colors_count %></td>
      <td><%= patch.size %></td>
      <td><%= number_to_currency(patch.cost) %></td>
      <td>
        <%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, patch, method: :delete, data: { confirm: t('helpers.confirm', model: Patch.model_name.human) }, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<br />

<%= link_to t('helpers.actions.new_model', model: Patch.model_name.human), new_patch_path, class: "btn btn-link" %>
