<h1><%= Patch.model_name %> <small><%= @patch.code %></small></h1>
<div class="row">
  <div class="col-sm-6">
    <p>
      <strong><%= t('activerecord.attributes.patch.name') %>:</strong>
      <%= @patch.name %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.patch.dots_count') %></strong>
      <%= @patch.dots_count %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.patch.colors_count') %>:</strong>
      <%= @patch.colors_count %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.patch.width') %>:</strong>
      <%= @patch.width %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.patch.height') %>:</strong>
      <%= @patch.height %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.patch.cost') %>:</strong>
      <%= @patch.cost %>
    </p>
    
    <p>
      <strong><%= t('activerecord.attributes.patch.in_stock') %>:</strong>
      <%= @patch.in_stock %>
    </p>
  </div><!-- .col-sm-6 -->
  <div class="col-sm-6">
    <% if @patch.image && @patch.image.picture %>
      <%= image_tag(@patch.image.picture.url(:medium), class: "img-thumbnail") %>
    <% else %>
      <img src="http://placehold.it/300x300&text=<%= Patch.model_name.human %>">
    <% end %>
  </div><!-- .col-sm-6 -->
</div><!-- .row -->
<br />
<div class="panel-footer">
  <%= link_to t('helpers.links.edit'), edit_patch_path(@patch), class: "btn btn-primary" %>
</div>
<%= link_to t('helpers.links.back'), patches_path, class: "btn btn-link" %>
